name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build-and-publish:
    name: Build and upload to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write  ##most important
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install build tools
      run: |
        sudo apt-get update
        sudo apt-get install -y nvidia-cuda-toolkit
        python -m pip install --upgrade pip
        pip install build cmake ninja

    - name: Build package
      run: python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
